/* css/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
    color: #333;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.article-content {
    flex-grow: 1;
}
.title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
.date, .description, .summary, .source, .copyright {
    margin-top: 10px;
    color: #666;
}
.summary-content {
    display: none;
    margin-top: 10px;
    color: #444;
}
.thumbnail
{
    display: block;
    justify-content: right;
}
.copyright
{
    font-size: small;
}
.show-more {
    color: #007bff;
    cursor: pointer;
    font-weight: 600;
}
.search-container {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-bottom: 20px;
}
#searchInput, #dateInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
#searchInput {
    width: 50%;
}
.header-logo {
    max-width: 100px;
    height: auto;
}
#dateInput, #resetDateFilter {
    cursor: pointer;
    background-color: #ffffff;
    color: #565656;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#resetDateFilter {
    background-color: #d20202;
    color: #ffffff;
}
#resetDateFilter:hover, #dateInput:hover {
    filter: brightness(90%);
}
h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: left;
    color: #333;
    margin-bottom: 20px;
}

#theme-toggle {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.selected {
    background-color: #ccc;
}
.like-btn {
    cursor: pointer;
    margin-top: 10px;
    background-color: #ffffff;
    color: #565656;
    border: 1px solid #ddd;
    padding: 2px 6px;
    border-radius: 1px;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: inline-block;
}

.liked {
    background-color: #d20202;
    color: #ffffff;
}

/* Dark mode style */
.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode h1 {
    color: #f4f4f4;
}

.dark-mode .title {
    color: #9AD0EC;
}

.dark-mode .date, .dark-mode .description, .dark-mode .summary, .dark-mode .source, .dark-mode .copyright {
    color: #ccc;
}

.dark-mode .show-more {
    color: #9AD0EC;
}

.dark-mode .article {
    background-color: #444;
    border-color: #555;
}

.dark-mode .summary-content {
    color: #f4f4f4;
}

.dark-mode footer {
    background-color: #333;
    color: #ccc;
}

.dark-mode #searchInput, .dark-mode #dateInput, .dark-mode #resetDateFilter {
    background-color: #555;
    color: #f4f4f4;
    border-color: #666;
}

.dark-mode #resetDateFilter {
    background: #d20202;
}

.dark-mode a {
    color: #9AD0EC;
}